<div class="sticky">

  <nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Week Recipes</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  
<section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li><a href="#" data-reveal-id="myModal">Create new recipe</a></li>
      

    </ul>
  </section></nav>
</div>


<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Add new recipe</h2>
    <% @recipe = Recipe.new %>
    <%= form_for(@recipe) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :how %>
      <%= f.text_area :how %>

      <%= f.label :ingredients %>
      <%= f.text_field :ingredients %>
      
      <%= f.label :nutrients %>
      <%= f.text_field :nutrients %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

      
      
      
      


<div id="week">
  <div class="">
    <ul class="small-block-grid-7">
      <li class="weekdays">Mon</li>
      <li class="weekdays">Tue</li>
      <li class="weekdays">Wed</li>
      <li class="weekdays">Thu</li>
      <li class="weekdays">Fri</li>
      <li class="weekdays">Sat</li>
      <li class="weekdays">Sun</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns"><h2>All recipes</h2></div>
    <% @recipes.each do |x| %>
      <div class="small-2 large-4 columns">
        <div draggable="true" class="panel recipe">
          <h2><small><%= x.name %></small></h2>
          <p><%= x.ingredients %></p>
          <p><%= x.how %></p>
          <p><%= x.nutrients %></p>
        </div>
      </div>
    <% end %>
</div>
