<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Week Recipes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    
    
  <!-- START inlagd från foundation http://foundation.zurb.com/docs/javascript.html   -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
    
  
    <script>
      $(document).foundation();
    </script>
    
    
  <!-- END inlagd från foundation http://foundation.zurb.com/docs/javascript.html   -->
  
  </body>
</html>






